.panel
  h1 RGB -> HEX
  ul.sources
    li.red
      .name R
      input#redInput(type="range" min=0 max=255 step=1)
      .value 
    li.green
      .name G
      input#greenInput(type="range" min=0 max=255 step=1)
      .value
    li.blue
      .name B
      input#blueInput(type="range" min=0 max=255 step=1)
      .value 
    
  p 輸入HEX六個色碼
  #resultWord
    span #
    input#result(type="text" value='#55555')